<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body>
    <h1 class="bg-info text-white p-3 m-0"> The Solar System </h1>

    <%- include("partials/nav.ejs") %>

    <div class="container my-page">
        <div class="row">
            <div class="col-md-6">
                <div class="card page-card">
                    <img src="<%= planetInfo.image %>" alt="<%= planet %>" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="card page-card text-start">
                    <h2><%= planet %></h2>

                    <% Object.entries(planetInfo).forEach(([key, value]) => { %>
                        <p><strong><%= key %>:</strong> <%= value %></p>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>