<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body class="d-flex flex-column min-vh-100">
    <h1 class="bg-info text-white p-3 m-0"> The Solar System </h1>

    <%- include("partials/nav.ejs") %>

    <div class="container-fluid row flex-grow-1 align-items-stretch p-3 g-3">

        <div class="card p-4 col-md-6">
            <img src="<%= planetInfo.image %>" alt="<%= planet %>" class="img-fluid rounded">
        </div>

        <div class="card p-4 col-md-6 text-start">
            <h2><%= planet %></h2>

            <% Object.entries(planetInfo).forEach(([key, value]) => { %>
                <p><strong><%= key %>:</strong> <%= value %></p>
            <% }) %>
        </div>

    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>